<div class="jumbotron text-center">
	<h1>This is the home page</h1>
	<p>this page demonstrates <span class="text-danger">nested</span> views.</p>
	
	<a ui-sref=".list" class="btn btn-primary">List</a>
	<a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
</div>

<div ui-view></div>