<!DOCTYPE html>
<html>
	<head>
		<% include ./header.ejs %>
	</head>
	<body ng-app="schedulerApp" ng-controller="mainCtrl as main">
		<% include ./navbar.ejs %>
		<% include ./partials/main.ejs %>
		
		<% include ./footer.ejs %>
	</body>
</html>
