<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
				TEST
			</a>
		</div>
		
		<ul class="nav navbar-nav">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
			<li ng-hide="main.isLoggedIn"><a ui-sref="login.form">Login</a></li>
			<li ng-show="main.isLoggedIn"><a href="#" ng-click="main.logout()">Logout</a></li>
		</ul>
	</div>
</nav>