<h2>Register</h2>
<form name="form" ng-submit="vm.register()" role="form">
	<div class="form-group">
		<label for="firstname">First Name</label>
		<input type="text" name="firstName" id="firstName" class="form-control" required />
	</div>
	<div class="form-group">
		<label for="lastname">Last Name</label>
		<input type="text" name="lastName" id="lastName" class="form-control" required />
	</div>
	<div class="form-group">
		<label for="username">User Name</label>
		<input type="text" name="userName" id="userName" class="form-control" required />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" class="form-control" required />
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Register</button>
		<a ui-sref="login.form" class="btn btn-danger">Cancel</a>
	</div>
</form>